@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}
ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: mediumseagreen;
	text-decoration: none;
}
a:hover,
a:focus {
	color: mediumseagreen;
	text-decoration: none;
}
a img {
	border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
#maincontent {
	background-color: #f3f3f3;
	min-height: 100%;
}
#footer {
	background-color: #444;
	color: #aaa;
	font-size: 1rem;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	#footer {
		font-size: 0.85rem;
		padding-top: 1.25rem;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	#footer {
		font-size: 1rem;
		padding-top: 1.25rem;
	}
}

/* ====================== Navigation ====================== */
nav {
	width: 100%;
	height: 80px;
	background-color: #252831;
	text-align: center;
}
nav h1 {
	margin: auto;
	padding-top: 1.5rem;
}
nav h1 a {
	color: #fff;
	font-size: 14pt;
	font-weight: 200;
	letter-spacing: 10px;
	text-transform: uppercase;
}

/* Media Queries for Phones */
@media only screen and (min-width: 320px) and (max-width: 396px) {
	nav h1 {
		padding-top: 0.5rem;
	}
}

@media only screen and (min-width: 397px) and (max-width: 480px) {
	nav h1 {
		padding-top: 1.25rem;
	}
}

/* Media Queries for Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	nav h1 {
		padding: 1.5rem;
	}
}

#breadcrumb {
	padding: 10px 40px 16px;
	list-style: none;
	background-color: #eee;
	font-size: 17px;
	margin: 0;
	width: auto;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	#breadcrumb li {
		font-size: 2rem;
	}
}

/* Display list items side by side */
#breadcrumb li {
	display: inline;
	font-size: 1rem;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
	height: 400px;
	width: 100%;
	background-color: #ccc;
}

/* Media Queries for Phones */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	#map {
		height: 20rem;
	}
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
	display: flex;
	justify-content: center;
	width: auto;
	height: 100%;
	background-color: #308c34;
	align-items: center;
	padding: 0.5rem;
}
.filter-options h2 {
	color: white;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	margin: 0 20px;
}
.filter-options select {
	background-color: white;
	border: 1px solid #fff;
	font-family: Arial, sans-serif;
	font-size: 11pt;
	height: 35px;
	letter-spacing: 0;
	margin: 10px;
	padding: 0 10px;
	width: 200px;
}

/* Media Queries for Phones */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.filter-options {
		flex-flow: column;
	}

	.filter-options h2 {
		font-size: 1.125rem;
		margin: 0 10px;
		padding: 0.5rem 0;
	}

	.filter-options select {
		width: 10.125rem;
	}
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	background-color: #f3f3f3;
	list-style: outside none none;
	margin: 0;
	padding: 30px 15px 60px;
	text-align: center;
}
#restaurants-list li {
	background-color: #fff;
	border: 2px solid #ccc;
	font-family: Arial, sans-serif;
	margin: 15px;
	min-height: 380px;
	padding: 0 30px 25px;
	text-align: left;
	width: 270px;
}
#restaurants-list .restaurant-img {
	background-color: #ccc;
	display: block;
	margin: 0;
	max-width: 100%;
	min-height: 248px;
	min-width: 100%;
}
#restaurants-list li h1 {
	color: mediumseagreen;
	font-family: Arial, sans-serif;
	font-size: 14pt;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 20px 0 10px;
	text-transform: uppercase;
}
#restaurants-list p {
	margin: 0;
	font-size: 11pt;
}
#restaurants-list li a {
	background-color: mediumseagreen;
	border-bottom: 3px solid #eee;
	color: #fff;
	display: inline-block;
	font-size: 10pt;
	margin: 15px 0 0;
	padding: 8px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/* Media Queries for Phones */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	#restaurants-list {
		padding: 0.75rem 0.5rem;
	}

	#restaurants-list li {
		margin: 0.5rem;
		padding: 0;
		text-align: inherit;
		width: auto;
		min-height: auto;
	}

	#restaurants-list .restaurant-img {
		min-height: auto;
		max-height: 16rem;
	}

	#restaurants-list p {
		font-size: 1rem;
		text-align: center;
	}

	#restaurants-list li a {
		display: block;
		padding: 0.5rem;
		border: 0;
		font-size: 1rem;
	}
}

/* Media Queries for Tablets and larger */
@media only screen and (min-width: 481px) {
	#restaurants-list li {
		display: inline-flex;
		flex-wrap: wrap;
		padding: 0;
		width: 20rem;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#restaurants-list .restaurant-img {
		max-height: 16rem;
	}
	#restaurants-list p {
		font-size: 1.125rem;
		text-align: center;
	}

	#restaurants-list li a {
		display: block;
		font-size: 1.125rem;
		margin: 1rem 0;
	}
}

/* ====================== Restaurant Details ====================== */
.inside header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
}

.inside #map-container {
	background: blue none repeat scroll 0 0;
	height: calc(100vh - 132px);
	position: fixed;
	right: 0;
	top: 132px;
	width: 50%;
}

.inside #map {
	background-color: #ccc;
	height: 100%;
	width: 100%;
}

#restaurant-name {
	color: mediumseagreen;
	font-family: Arial, sans-serif;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: 0;
	margin: 1rem 0;
	text-transform: uppercase;
	line-height: 1.1;
}
#restaurant-img {
	width: 80%;
	border-radius: 10px 10px 0 0;
}
#restaurant-address {
	font-size: 14pt;
	margin: 10px 0px;
	text-align: center;
}
#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	border-radius: 0 0 10px 10px;
	font-size: 14pt;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 10px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
	width: 80%;
}
#restaurant-hours td {
	color: #666;
	font-size: 1.125rem;
}
#restaurant-container,
#reviews-container {
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #fff;
	padding: 131px 0px 30px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#reviews-container {
	padding: 30px 40px;
	align-items: flex-start;
}
#reviews-container h2 {
	color: mediumseagreen;
	font-size: 24pt;
	font-weight: 300;
	letter-spacing: -1px;
	padding-bottom: 1pt;
}
#reviews-list {
	margin: 0;
	padding: 0;
}
#reviews-list li {
	background-color: #fff;
	border: 2px solid #f3f3f3;
	display: block;
	list-style-type: none;
	margin: 0 0 30px;
	overflow: hidden;
	position: relative;
	width: 85%;
	border-radius: 10px;
}

#review-name {
	display: flex;
	justify-content: space-between;
	background-color: black;
}

#review-name p {
	color: mediumseagreen;
	font-size: 1.125rem;
	padding: 0.5rem;
	margin: 0;
}

#comments {
	font-size: 1rem;
	padding: 0.5rem;
}

#rating p {
	background-color: mediumseagreen;
	font-size: 1.125rem;
	color: white;
	margin: 0.75rem 0 0 1rem;
	padding: 0.35rem;
	width: fit-content;
	text-transform: uppercase;
	border-radius: 5px;
}

.inside #footer {
	bottom: 0;
	position: absolute;
	width: 46.75%;
	padding: 0.5rem 1.5rem;
	font-size: 0.85rem;
}

/* Media Queries for Phones - Restaurant Detail */
@media only screen and (min-width: 320px) and (max-width: 395px) {
	.inside header nav h1 {
		padding-top: 0.7rem;
		font-size: 1rem;
	}
}
@media only screen and (min-width: 396px) and (max-width: 480px) {
	.inside header nav h1 {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 320px) and (max-width: 492px) {
	.inside #map-container {
		width: calc(100vw);
		height: calc(44vh - 131px);
		position: absolute;
		right: 0;
		top: 131px;
	}

	#restaurant-container {
		width: auto;
		padding-top: calc(43.5vh);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#restaurant-container h1 {
		font-size: 1.75rem;
		margin: 0.75rem;
	}

	#restaurant-container p {
		font-size: 1.25rem;
		text-align: center;
		margin: 0 0 0.75rem;
	}

	#restaurant-img {
		border-radius: 25px 25px 0 0;
		width: 75%;
	}

	#restaurant-cuisine {
		border-radius: 0 0 25px 25px;
		width: 75%;
	}

	#restaurant-hours td {
		font-size: 1.125rem;
	}

	#reviews-container {
		width: auto;
		padding: 0.5rem;
		align-items: center;
	}

	#reviews-container h2 {
		font-size: 1.75rem;
	}

	#reviews-list {
		flex-direction: column;
		align-items: center;
		display: flex;
	}

	#reviews-list li {
		border-radius: 30px;
		box-shadow: 5px 5px lightgray;
		width: 95%;
	}

	#reviews-list li p {
		padding: 1rem;
		margin: 0;
	}

	#review-name {
		justify-content: space-between;
		background-color: black;
		display: flex;
	}

	#review-name p {
		font-size: 1rem;
	}

	#rating {
		background-color: white;
	}

	#rating p {
		font-size: 1rem;
		color: white;
		margin: 1rem 2rem 0 !important;
		padding: 0.5rem 1rem !important;
		text-transform: uppercase;
	}

	#comments {
		font-size: 1.125rem;
	}

	.inside #footer {
		width: auto;
		font-size: 0.75rem;
		padding: 0.75rem;
		bottom: -50px;
	}
}

/* Media Queries for sizes between Phones and Tablets  - Restaurant Detail */
@media only screen and (min-width: 493px) and (max-width: 767px) {
	.inside header nav {
		height: 70px;
	}

	.inside header nav h1 {
		padding-top: 1rem;
	}

	#breadcrumb {
		padding: 0.5rem 2rem;
	}

	.inside #map-container {
		height: calc(100vh - 111px);
		top: 111px;
		width: calc(50vw);
	}

	#restaurant-container {
		padding-top: 7rem;
	}

	#restaurant-container h1 {
		margin: 0.5rem 0 0.75rem;
	}

	#restaurant-img {
		border-radius: 10px 10px 0 0;
	}

	#restaurant-cuisine {
		border-radius: 0 0 10px 10px;
	}

	#reviews-container {
		padding: 0.5rem;
		align-items: center;
		width: 48%;
	}

	#reviews-container h2 {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}

	#reviews-list li {
		width: auto;
	}

	#review-name p {
		font-size: 1rem;
	}

	#rating p {
		margin: 0.5rem 0 0 0.5rem;
	}

	#comments {
		margin: 0;
	}

	.inside #footer {
		width: calc(45.5vw);
		font-size: 0.65rem;
		padding: 0.75rem;
		bottom: -30px;
	}
}

@media only screen and (min-width: 493px) and (max-width: 560px) {
	.inside #footer {
		width: calc(45.5vw);
		font-size: 0.65rem;
		padding: 0.75rem;
		bottom: -30px;
	}
}

@media only screen and (min-width: 561px) and (max-width: 767px) {
	.inside #footer {
		width: calc(47vw);
	}
}

/* Media Queries for Tablets and larger  - Restaurant Detail */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.inside header nav {
		height: 70px;
	}

	.inside header nav h1 {
		padding-top: 1.25rem;
	}

	#breadcrumb {
		padding: 0.75rem 0 0.75rem 1.75rem;
	}

	#breadcrumb li {
		font-size: 1.125rem;
	}

	.inside #map-container {
		top: 121px;
		height: calc(100vh - 121px);
		width: 47%;
	}

	#restaurant-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		padding-top: 121px;
	}

	#restaurant-name {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	#restaurant-img {
		border-radius: 25px 25px 0 0;
		width: 75%;
	}

	#restaurant-cuisine {
		border-radius: 0 0 25px 25px;
		width: 75%;
	}

	#restaurant-container p {
		font-size: 1.25rem;
		text-align: center;
	}

	#restaurant-container td {
		font-size: 1.125rem;
	}

	#reviews-container {
		padding: 0.5rem;
		align-items: center;
	}

	#reviews-container h2 {
		margin: 0 0 0.5rem;
		font-size: 1.75rem;
	}

	#reviews-list {
		align-items: flex-start;
		padding-bottom: 2rem;
	}

	#reviews-list li {
		border-radius: 25px;
		box-shadow: 5px 5px lightgrey;
		width: 100%;
	}

	#rating {
		background-color: white;
	}

	#rating p {
		font-size: 1.125rem;
		margin: 0.75rem 1rem 0 !important;
		padding: 0.25rem 0.75rem !important;
		text-transform: uppercase;
	}

	#reviews-list li p {
		padding: 0.75rem;
		margin: 0;
	}

	#review-name {
		justify-content: space-between;
		background-color: black;
		display: flex;
	}

	#review-name p {
		font-size: 1.125rem;
	}

	#comments {
		font-size: 1.125rem;
	}

	.inside #footer {
		width: 51.125%;
		font-size: 0.75rem;
		padding: 0.5rem;
	}
}
/* Desktops and larger */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
	.inside #footer {
		width: 45.75%;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.inside #footer {
		width: 46%;
	}
}
